a {
  color: #106CC8;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}
a:hover, a:focus {
  border-bottom: 1px solid #4054B2;
}
a.md-button {
  border-bottom: none;
}

md-whiteframe.notice {
	margin-top:10px;
/* 	padding-top:20px; */
	padding-bottom:20px;
	padding-left:10px;
	background: #F5F6F7 none repeat scroll 0% 0%;
  border-left: 8px solid #8BC34A;
/*   border-radius: 4px; */
} 

md-menu-item > .md-button {
    display: inline;
}

md-toast.md-success-toast-theme > div.md-toast-content {
    background-color: #5cb85c;
}
md-toast.md-warning-toast-theme > div.md-toast-content {
    background-color: #f0ad4e;
}
md-toast.md-error-toast-theme > div.md-toast-content {
    background-color: #d9534f;
}

md-list-item, md-list-item .md-list-item-inner {
	min-height: 38px;
}
a.navlist{
	display:block;
	width:100%;
	height:100%;
/* 	background:yellow; */
}

md-input-container > div.label {
	color: rgba(0, 0, 0, 0.26);
}
/*Lift stuff*/


#lift__noticesContainer___notice ul, 
#lift__noticesContainer___warning ul, 
#lift__noticesContainer___error ul
{
    list-style-type: none;
}

/*Lift notice*/
#lift__noticesContainer___notice {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}

#lift__noticesContainer___warning {
    background-color: #FCF8E3;
    border-color: #FBEED5;
    color: #C09853;
}

#lift__noticesContainer___error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}