<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>Home</title>
  </head>
  <body data-lift-content-id="main">

    <md-content id="main" data-lift="surround?with=default;at=content" class="md-padding" layout="row" layout-wrap layout-align="center start">
    
      <div data-layout="column" data-layout-fill data-layout-align="top left">
        <h1 ><span data-lift="Loc?locid=index.welcome.label">Welcome to your project!</span></h1>
        <div>
          <span data-lift="helloWorld.howdy">
            <span data-lift="Loc?locid=index.howdy.txt">Welcome to your Lift app at</span> <span id="time">Time goes here</span>
          </span>
        </div>
           
        <md-card>
          <img data-ng-src="assets/images/20150711_145645_2.jpg" class="md-card-image" alt="The sky is the limit">
          <md-card-content> 
            <h2 class="md-title"><span data-lift="Loc?locid=index.card.content.label">Lift v3.0 Template Applications</span></h2>
           
            <span data-lift="Loc?locid=index.card.content.text"> 
              Index card content text goes here 
            </span> 

            <div class="ng-scope layout-row" data-layout-sm="column" data-layout="row">
              <md-whiteframe class="md-whiteframe-4dp notice flex-gt-sm-66 flex-100" flex="100" layout layout-align="left center">
                <div>
                  <h4>
                    <md-icon class="md-primary" md-font-icon="fa fa-2x fa-exclamation-triangle"></md-icon> <span data-lift="Loc?locid=index.notice.about.templates.label"> Lift Template Application</span>
                  </h4>
                  <div>
                    <span data-lift="Loc?locid=index.notice.about.templates.txt"> notice text goes here</span>
                  </div>            
                </div>
              </md-whiteframe>
            </div>            
          </md-card-content>
          
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" target="_blank" ng-href="https://github.com/lift/lift_26_sbt/">
              <md-icon md-font-icon="fa fa-github-square fa-2x"></md-icon> 
              <span data-lift="Loc?locid=index.lift.github.templates.button.txt"><b> Lift Templates on Github</b></span>
            </md-button>
           <md-button class="md-raised md-primary" target="_blank" ng-href="http://liftweb.net/">
             <span data-lift="Loc?locid=index.lift.button.txt"></span>
             <md-icon  aria-label="Lift"  md-svg-icon="assets/images/lift_24px.svg"></md-icon> <b> Lift</b>
            </md-button>           
          </md-card-actions> 
        </md-card>        
                    
        <div data-hide-gt-md>
          <md-button ng-click="toggleLeft()" class="md-primary" ><span data-lift="Loc?locid=index.toggle.left.button.txt">Toggle left</span></md-button> or use the menu icon on the top bar to toggle the left navbar.
        </div>
        <div>
          <md-button ng-click="toggleRight()" class="md-primary"><span data-lift="Loc?locid=index.toggle.right.button.txt">Toggle right</span></md-button>
        </div>
      </div>
    </md-content>
  </body>
</html>

