<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />

<title>Embedded toolbar template</title>
</head>

<!-- This is an embedded piece of html -->
<body class="lift:content_id=userMenu">

   <md-menu  id="userMenu" >
      <!--  user not logged in -->
      <md-button data-lift='test_cond.loggedout' aria-label="Open user menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" >
        <md-icon md-menu-origin md-font-icon="fa fa-user" style="color: greenyellow;font-size:24px;"></md-icon> 
      </md-button>
      <md-button data-lift='test_cond.loggedin' aria-label="Open user menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" >
<!--         <md-tooltip> -->
<!--           Refresh -->
<!--         </md-tooltip> -->
	    <span data-lift="helloWorld.usergrav" id="gravatar"></span>
      </md-button>      
      	      
      
      <md-menu-content width="4">
        <md-menu-item data-lift='test_cond.loggedout'>
          <md-button ng-href="/user_mgt/login">
            <md-icon md-font-icon="fa fa-user" md-menu-align-target style="font-size:20px;"></md-icon>
            <span data-lift="Loc.i">fobo.menu.loc.login</span>
          </md-button>
        </md-menu-item>
        <md-menu-item data-lift='test_cond.loggedout'>
          <md-button ng-href="/user_mgt/sign_up">
            <md-icon md-font-icon="fa fa-pencil" style="font-size:20px;"></md-icon>
            <span data-lift="Loc.i">fobo.menu.loc.sign.up</span>
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item data-lift='test_cond.loggedout'>
          <md-button ng-href="/user_mgt/lost_password">
            <md-icon md-font-icon="fa fa-envelope" style="font-size:20px;"></md-icon>
            <span data-lift="Loc.i">fobo.menu.loc.lost.password</span>
          </md-button>
        </md-menu-item>

        
        <md-menu-item data-lift='test_cond.loggedin'>
          <md-button ng-href="/user_mgt/edit">
            <md-icon md-font-icon="fa fa-pencil" md-menu-align-target style="font-size:20px;"></md-icon>
            <span data-lift="Loc.i">fobo.menu.loc.edit.user</span>
          </md-button>
        </md-menu-item> 
        
        <md-menu-item data-lift='test_cond.loggedin'>
          <md-button ng-href="/user_mgt/change_password">
            <md-icon md-font-icon="fa fa-pencil" md-menu-align-target style="font-size:20px;"></md-icon>
            <span data-lift="Loc.i">fobo.menu.loc.change.password</span>
          </md-button>
        </md-menu-item>                 

        <md-menu-item data-lift='test_cond.loggedin'>
          <md-button ng-href="/user_mgt/logout">
            <md-icon md-font-icon="fa fa-user" md-menu-align-target style="font-size:20px;"></md-icon>
            <span data-lift="Loc.i">fobo.menu.loc.logout</span>
          </md-button>
        </md-menu-item>
                
      </md-menu-content> 
              
    </md-menu>
    
<!--     <md-menu data-lift='test_cond.loggedin' id="userMenu" > -->
    
<!--       <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" > -->
<!--         <md-icon md-menu-origin md-font-icon="fa fa-user" style="color: greenyellow;font-size:24px;"></md-icon>  -->
<!--       </md-button> -->
      
<!--       <md-menu-content width="4"> -->
<!--         <md-menu-item> -->
<!--           <md-button ng-href="/user_mgt/logout"> -->
<!--             <md-icon md-font-icon="fa fa-user" md-menu-align-target style="font-size:20px;"></md-icon> -->
<!--             Logga Out -->
<!--           </md-button> -->
<!--         </md-menu-item> -->
<!--       </md-menu-content> -->
<!--     </md-menu> -->
    
  
</body>
</html>