<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<title>Home</title>
</head>
<body data-lift-content-id="main">
	<div id="main" ng-app="foboDemoApp"
		data-lift="surround?with=default;at=content">

		<div class="row">
			<div class="col-sm-12">
				<a id="dtop"></a>
				<h2>Lift - FoBo / Angular / Bootstrap / Slick - Demo</h2>
				<p>
					<span data-lift="helloWorld.howdy"> Welcome to your Lift
						Angular/Bootstrap/Slick app at <span id="time">Time goes
							here</span>
					</span>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<div class="bs-callout bs-callout-info">
					<h4>
						<i class="fa fa-exclamation-triangle fa-2x"></i> Work In Progress!
					</h4>
					<p>This is work in progress, please check back later for a more
						complete tutorial/demo.</p>
				</div>

				<p>
					Although this demo uses the <a
						href="http://www.media4u101.se/lift-advanced-bs3/">lift-advanced-bs3
						Template Application</a> with FoBo's Bootstrap v3.x setting as it's
					base the following sections is mostly about Angular JS and <a
						href="http://blog.goodstuff.im/roundtrip_promises">Lift 3's
						Round Trip</a> concept. To make the examples a bit more
					realistic/exciting we are also using Slick to handle the back end
					storage. <!-- and dispatch for some REST. -->
				</p>
				<p>	
					The examples is increasingly complex in what they accomplish but 
					considering the "normal complexity" involved in coding the same thing 
					using other techniques the code needed using Lift and Angular is very 
					elegant and fairly simple to comprehend.
				</p>

				<p>I have tried to keep the amount of code used as simple as
					possible to make the examples clear, for that reason the Slick
					integration is close to the bare minimum (using a in memory db) and
					dose, for that reason, not reflect what you would expect in a
					production ready project.</p>
					
				<div class="panel panel-default" style="padding-left:10px;padding-right:10px;">	
				<h4>This demo application uses the following components:</h4>
				<dl class="dl-horizontal">
					<dt>
						<a href="http://liftweb.net/">Lift</a>
					</dt>
					<dd>Lift is the most powerful, most secure web framework
						available today.</dd>

					<dt>
						<a href="http://slick.typesafe.com/">Slick</a>
					</dt>
					<dd>The Scala Language-Integrated Connection Kit. Seamless
						data access.</dd>
					<dt>
						<a href="http://www.media4u101.se/fobo-lift-template-demo/">FoBo</a>
					</dt>
					<dd>A Generic Front-End Toolkit Module for Lift. For
						developing mobile scalable responsive web applications.</dd>
					<dt>
						<a href="http://angularjs.org/">AngularJS</a>
					</dt>
					<dd>
						Including the <a href="http://angular-ui.github.io/">Angular
							UI</a> modules <a href="http://angular-ui.github.io/ng-grid/">NG
							Grid</a> and <a href="http://angular-ui.github.io/bootstrap/">UI
							Bootstrap</a>. This component is provided via the <a
							href="http://www.media4u101.se/fobo-lift-template-demo/">FoBo</a>
						module.
					</dd>
					<dt>
						<a href="http://getbootstrap.com/">Bootstrap v3.x</a>
					</dt>
					<dd>
						Sleek, intuitive, and powerful mobile first front-end framework.
						This component is provided via the <a
							href="http://www.media4u101.se/fobo-lift-template-demo/">FoBo</a>
						module.
					</dd>
					<dt>
						<a href="http://fontawesome.io/">Font Awesome</a>
					</dt>
					<dd>
						The iconic font designed for Bootstrap. This component is provided
						via the <a
							href="http://www.media4u101.se/fobo-lift-template-demo/">FoBo</a>
						module.
					</dd>
					<dt>
						<a href="http://code.google.com/p/google-code-prettify/">google-code-prettify</a>
					</dt>
					<dd>
						Syntax highlighting of code snippets in a web page. This component
						is provided via the <a
							href="http://www.media4u101.se/fobo-lift-template-demo/">FoBo</a>
						module.
					</dd>
				</dl>
				</div>
				
				<p>
					You can read more about Angular JS, Lift 3 and Streaming Promises
					in <a href="http://blog.goodstuff.im/roundtrip_promises">DPP's
						Blog</a>
				</p>

				<div class="bs-callout bs-callout-info">
				<h4><i class="fa fa-exclamation-triangle fa-2x"></i> Lift and ORM's</h4>
				<p>Lift comes with two (optional) ORM persistence layer modules  
				<a href="https://www.assembla.com/wiki/show/liftweb/Mapper">Mapper</a> and
				<a href="https://www.assembla.com/wiki/show/liftweb/Record">Record</a> 
				where, notably, the later includes specific support for 
				<a href="https://www.assembla.com/wiki/show/liftweb/MongoDB">MongoDB</a> 
				and <a href="http://squeryl.org/">Squeryl</a>.</p>
				<p>Although Lift has those excellent ORM modules <strong>Lift's WebKit is agnostic 
				as to the use of ORM frameworks</strong> or database query and access library 
				as can be seen in this tutorial/demo where we are using the Slick 2.0 
				Functional Relational Mapping framework.</p>
                </div>


			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-sm-12">
				<a id="section-1"></a>
				<h2><span data-lift="Loc.i">Section 1</span></h2>
				
				<p>The following section describes how to set up the Lift Front-End Toolkit module FoBo to 
				provide AngularJS the way it is set up in this demo.</p>
				
				<div class="bs-callout bs-callout-info">
					<h4>
						<i class="fa fa-exclamation-triangle fa-2x"></i> Starting a new Lift project using FoBo!
					</h4>
					<p>If you plan to use FoBo in a new project I can recommend using the 
					<a href="http://www.media4u101.se/lift-advanced-bs3/">lift-advanced-bs3 Template Application</a>
					as a starting point then most of the setup presented in this section will be done for you. 
					</p>
				</div>					
				
				<div class="row">
					<div class="col-sm-12">
						<a id="section-1-1"></a>
						<h3><span data-lift="Loc.i">Section 1-1</span></h3>
						
						<p>
						 Make sure to check for the latest version in the <a href="https://github.com/karma4u101/FoBo#fobo---a-generic-front-end-toolkit-module-for-lift-">FoBo Github readme.</a> 
						</p> 
						<span data-lift='embed?what=embeddedPretty/depSettingSBT'>
							Embedding the prettyprint dependency settings code here</span>
							
						<span data-lift='embed?what=embeddedPretty/depSettingMaven'>
							Embedding the prettyprint dependency settings code here</span>
								
						<div class="bs-callout bs-callout-info">
						  <h4><i class="fa fa-exclamation-triangle"></i> FoBo and Lift versions</h4>
						  <p>FoBo currently have artifacts for Lift 2.5, 2.6 and 3.0. For more information 
						  about dependency settings supported toolkits and more, 
						  see the <a href="https://github.com/karma4u101/FoBo">FoBo readme on Github</a>.</p>
						</div>							
													
					</div>
					<div class="col-sm-12">
						<a id="section-1-2"></a>
						<h3><span data-lift="Loc.i">Section 1-2</span></h3>
						One of the benefit you get from using the FoBo module is that you have
						a easy up/down-grade cycle with a "single point of change", i.e the
						FoBo init parameter in Lift Boot. 
						<dl>
							<dt>Quick and easy up/down -grade of toolkit resources is
								provided by FoBo via a "single point of change" as:</dt>
							<dd>
								<ul>
									<li>FoBo simultaneously provides several versions of the
										included toolkits.</li>
									<li>FoBo automatically serves minified toolkit resources
										in production and more easily debuggable resources otherwise.</li>
									<li>FoBo uses uniform settings to resources in html templates, no 
									need for changes when doing a up-grade/down-grade or running in a dev/test
									environment vs deploying to a production environment.</li>	
								</ul>
							</dd>
						</dl>

						<p>
							FoBo takes care of and provides minified resources in
							production and more easily debugable code in development, this is
							done without any need for code changes and at the same time, by 
							using Fobo, you do not clutter your applications assets space with 
							tookit library code that should not be directly manipulated any way. 
							By changing a available <a target="_blank"
								href="http://www.media4u101.se/fobo-lift-template-demo/foboapi/index.html#net.liftmodules.FoBo.package">FoBo
								toolkit init parameters</a> you can quickly change the version of
							the front end toolkit's you are using or add another FoBo
							supported one.
						</p>

						<span data-lift='embed?what=embeddedPretty/boot'> Embedding
							the prettyprint Boot.scala code here</span> <a id="section-1-2"></a> <a
							id="section-1-3"></a>
							
							
						<h3><span data-lift="Loc.i">Section 1-3</span></h3>
						The most common place to put global references to css and javascript resources in a 
						Lift application is in the default.html template, this project and the example below 
						is set up like that. 
						If you need more flexibility you can put the css/js resource reference 
						in the page body and add the <code>data-lift="head"</code> attribute to it, then when lift 
						processes the page it will be moved into the heade, this could be useful if you have page 
						specific resource needs.   
						<span data-lift='embed?what=embeddedPretty/defaultTemplate'>
							Embedding the prettyprint default.html code here</span>
							
						<span data-lift='embed?what=embeddedPretty/pageTemplate'>
							Embedding the prettyprint index.html code here</span>
														
						<p>Specific to this demo we are setting the <code>ng-app="foboDemoApp"</code> (Angular bootstrap directive) in 
						the same tag as the lift surround tag this means that we have set the root element of the angular application 
						so that it will surround/include most of the code and it will be available on all demo pages. </p>
						<p>You are, in your application, of course free to set the ng-app name and directive where ever it fits your needs best.</p>     

					</div>
					<div class="col-sm-12">
					</div>

				</div>

			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<a id="section-2"></a>
				<h2><span data-lift="Loc.i">Section 2</span></h2>

				<div class="bs-callout bs-callout-info">
					<h4>
						<i class="fa fa-exclamation-triangle fa-2x"></i> New to AngularJS?
					</h4>
					<p>
						If you are new to AngularJS I <strong>strongly</strong> suggest
						that you, to get started with the basics, visit <a
							href="http://angularjs.org/">AngularJS</a> excellent home. There
						are plenty of examples, tutorials and other information that you
						will find valuable in you exciting endeavors into AngularJS land.
					</p>
					

				</div>

			    <div class="col-sm-12  visible-lg">
                  <div class="thumbnail">
                    <iframe width="100%" height="630" src="//www.youtube.com/embed/i9MHigUZKEM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>					
			      </div>
				</div>
			    <div class="col-sm-12 visible-md">
                  <div class="thumbnail">
                    <iframe width="100%" height="540" src="//www.youtube.com/embed/i9MHigUZKEM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>					
			      </div>
				</div>
			    <div class="col-sm-12 visible-sm ">
                  <div class="thumbnail">
                    <iframe width="100%" height="380" src="//www.youtube.com/embed/i9MHigUZKEM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>					
			      </div>
				</div>								
				<p>
					To prepare you for the coming examples and get you started with
					Angular JS in Lift we are opening up this section with a very basic
					example that you already should be familiar with from <a
						href="http://angularjs.org/">AngularJS home</a>.
				</p>



				<div class="row">
					<div class="col-sm-12">
						<a id="section-2-1"></a>
						<h3>Example 1:</h3>
						<p>Now that we have all the initiation parts in place lets
							warm up with this simple example.</p>
						<p>This is a very simple angular only example (no server
							interaction) doing a ajax updates of the angular expression
							yourName.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">

						<div class="panel panel-default" style="padding: 10px;">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-horizontal" role="form">
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">Name:</label>
											<div class="col-sm-10">
												<input id="name" class="form-control" type="text"
													ng-model="yourName" placeholder="Enter a name here">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10 col-sm-offset-2">
									<h4>Hello {{yourName}}!</h4>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 ">

						<p></p>
						<span data-lift='embed?what=embeddedPretty/ex1Form'>
							Embedding the prettyprint ex1 form code here</span> 
						
						<p>This example we are crating a (angular) model (<code>ng-model="yourName"</code>) 
						with the value <code>"yourName"</code> and bind that to the heading.</p>
							
						<span
							data-lift='embed?what=embeddedPretty/ex1Res'> Embedding
							the prettyprint ex1 form code here</span>
						<p>As you type in a name the <code>{ { yourName } }</code> value will get updated.</p> 	

					</div>
				</div>
				<hr>

				<div class="row">
					<div class="col-sm-12 ">
						<a id="section-2-2"></a>
						<h3>Example 2:</h3>
						<p>This example is doing a roundtrip to the server to fetch
							and display a Json string when clicking the "Simple RT" button.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default" style="padding: 10px;">
							<div class="row">
								<div class="col-sm-10 col-sm-offset-2">
									<div ng-controller="SimpleRTCtrl">
										<pre>{{lrtResModel}}</pre>
										<button type="button" class="btn btn-default"
											ng-click="doSimpleLiftRT()">Simple RT</button>
										<button type="button" class="btn btn-default"
											ng-click="doResetRT()">Reset</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 ">
					    <br/>
					    <p>In this example I will line out whats involved in a Lift roundtrip's we start with a quote from David Pollak.</p>
					    <blockquote class="pull-right">
					    <p>With Lift 3, we introduce the idea of Round Trips: a client-side request 
					    that's sent to the server where the client receives a Streaming Promise, 
					    the server performs its computations and when the results are ready, they 
					    get pushed to the client… and if there are multiple results, the multiple 
					    results are pushed to the client as the results become available.</p>
					    <small>David Pollak @dpp in <cite title="Source Title"><a href="http://blog.goodstuff.im/roundtrip_promises">Angular JS, Lift 3, and Streaming Promises</a></cite></small>
					    </blockquote>
					    <p>If you have not read David's <a href="http://blog.goodstuff.im/roundtrip_promises">blog post</a> already now is the time to do it.</p>
					    <span
							data-lift='embed?what=embeddedPretty/ex2P1'> Embedding
							the prettyprint ex2 code here</span>
							
					    <span
							data-lift='embed?what=embeddedPretty/ex2P2'> Embedding
							the prettyprint ex2 code here</span>							
					    
					    <span
							data-lift='embed?what=embeddedPretty/ex2P3'> Embedding
							the prettyprint ex2 code here</span>	
							
					    <span
							data-lift='embed?what=embeddedPretty/ex2P4'> Embedding
							the prettyprint ex2 code here</span>							
					    
					    <span
							data-lift='embed?what=embeddedPretty/ex2P5'> Embedding
							the prettyprint ex2 code here</span>
						<p>As this is a very simple example we are only using the <code>func.send(/*some data*/)</code> 
						function. In addition we have <code>func.done()</code> and <code>func.failure(/*Some failure message*/)</code>
						that gives us explicit control over sending data, done, and failure.</p>	
					    <span
							data-lift='embed?what=embeddedPretty/ex2P6'> Embedding
							the prettyprint ex2 code here</span>																			    
					    
					    <br/>
						<p>Next in Example 3 we are going to use the same design
							pattern but this time we are going to fetch a array of data and
							display it using the Angular NG-Grid UI module.</p>
					</div>
				</div>
				<hr>

				<div class="row">
					<div class="col-sm-12 ">
						<a id="section-2-3"></a>
						<h3>Example 3:</h3>
						<p>This example is doing a roundtrip to the server to fetch
							and display the grid data from the back-end store handled by
							slick. We are going to build on this example in the following
							examples to extend its functionality but we start with the
							simplest task of just fetching the data.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default" style="padding: 10px;">
							<div class="row">
								<div class="col-sm-10 col-sm-offset-2">
									<div ng-controller="GridCtrl">
										<div class="gridStyle" ng-grid="gridOptions"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<hr>

				<div class="row">
					<div class="col-sm-12 ">
						<a id="section-2-4"></a>
						<h3>Example 4:</h3>
						<p>This example is doing a roundtrip to the server to fetch
							and display the grid data from the back-end store handled by
							slick.</p>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default" style="padding: 10px;">
							<div class="row">
								<div class="col-sm-10 col-sm-offset-2">
									<div ng-controller="GridCtrl">
										<div class="gridStyle" ng-grid="gridOptions"></div>
										<div class="form-inline" role="form">
											<div class="form-group">
												<input type="hidden" id="pid" ng-model="person.id">
												<label class="sr-only" for="pname">Name</label> <input
													type="text" class="form-control" id="pname"
													placeholder="Enter name" ng-model="person.name">
											</div>
											<div class="form-group">
												<label class="sr-only" for="page">Age</label> <input
													type="number" class="form-control" id="page"
													placeholder="Enter age" ng-model="person.age">
											</div>
											<button class="btn btn-default" ng-click='doAdd()'>Add</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<hr>

				<div class="row">
					<div class="col-sm-12">
						<a id="section-2-5"></a>
						<h3>Example 5:</h3>
						<p>xyz fdflksf sdflksdf sdfk sdsfksdf ksdflsf jkljsldf sdflksdf lksdf lkfsdslfkdsjlsdf lkfds sdf ..... </p>
					</div>
				</div>

			</div>
		</div>
		<span data-lift="SimpleRT"> This snippet injects the roundtrip
			script</span>

	</div>
</body>
</html>

